@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200&family=Roboto:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://media.ambito.com/p/73442197f27e8a1ac8be63d0e5b1dd92/adjuntos/239/imagenes/040/324/0040324719/1200x675/smart/oceano-pacificojpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

:root {
  --green: rgb(255, 255, 255);
  --red: red;

}




.title--weather {
  color: var(--green);
  font-size:30px;
}



.cloud {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 150px;
  background: rgba(42, 86, 128, 0.562);
  margin: 120px;
  margin-left: auto;
  margin-right: auto;

}

/*nubes*/
.nubes{
height: 150px;
}


.time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(42, 86, 128, 0.562);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  text-align: center;
  padding: 5px;
}

.img--clouds {
  width: 150px;
  height: 100px;
}

.temp{
  margin-right: 1rem;
  font-size: 50px;
  font-weight: 900;
}

.estados-clima{
display: flex;
flex-direction: column;
background: #2a405a6e;
width: auto;
height: 70px;
border-radius: 5px;
}
.input-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}
.lupa{
  font-size: 30px;
  position: absolute;
  z-index: 2;
  margin-left:220px ;
  margin-top: 8px;
}
input{
  width: 250px;
  height: 35px;
  border: #658e96;
  background-clip: border-box;
  border-radius: 5px;
  text-align: center;

}
.btn {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: #658e96;
}
.btn:hover {
  color: var(--red);
  background-color: var(--green);
}
p {
  color: var(--green);
}
span {
  color: rgb(255, 255, 255);
  text-align: center;
}
.name{
  font-size: 14px;
  margin: 5px;
}

/*mediaquery*/

@media screen and (max-width: 480px) {
  .time {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 80%;
  padding: 1rem;
  border-radius: 8px;
}
  .title--weather {
    font-size: 18px;
    text-align: center;

}
.lupa{
  margin-left:170px ;
  margin-top: 8px;
}
input {
  width: 200px;
  height: 35px;
 margin-left: auto;
 margin-right: auto;

}
.btn {
  width: 100px;
  height: 25px;
}

.cloud {
  flex-direction: column;
  height: auto;
  width: 80%;
border-radius: 8px;
}
.nubes {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.estados-clima {
  display: flex;
  flex-direction: column;
  background: #2a405a6e;
  width: 100%;
  box-shadow: 2px 2px 2px gray;
  height: 60px;
  border-radius: 5px;
  gap: 5px;
}
}


@media screen and (min-width: 480px) {
  .container {
    width: 350px;
    height: 390px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 450px;
    height: 380px;
  }
  .allTime {
    flex-direction: row;
    justify-content: space-around;
  }
  body {
    font-size: 18px;
  }

  .temp--container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 100px;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 991px) {
  .container {
    width: 500px;
    height: 350px;
  }
  .allTime {
    flex-direction: row;
    justify-content: space-around;
  }
  body {
    font-size: 18px;
  }

  .temp--container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 100px;
    margin-top: 1rem;
  }
}
